.App{
    position: relative;
    overflow-x: clip;
}
.App>:nth-child(1){
    position: relative;
    background: black;
}
.whiteBlur{
    position: absolute;
    width: 22rem;
    height: 22rem;
    background: rgba(255, 255, 255, 0.522);
    filter: blur(100px);
    border-radius: 100px ;
}
.bar{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5.5rem;
    margin-bottom: 3rem;
}
.backgroundImg{
  background-image: url("/Images/background.png");
}
.barBox{
    gap: 1.5rem;
    background: linear-gradient(90deg, #FFA500, #FF7F50, #FF4500);;
    padding: 2rem;
    border-radius: 33px;
    width: 1000px;
    height: 16.1rem;
}
.barnerH{
   margin-bottom: 1.6rem;
   font-size: 2.4rem;
   font-weight: 600;
   color: white;
}
.barner p{
    margin-bottom: 1rem;
    color: #ffffff;
    font-size: 1.179rem;
} 
.b {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background: #171717;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  
  .b span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: rgb(68, 68, 174);
    border-radius: 50%;
    transition: .6s ease;
  }
  
  .b span:nth-child(6) {
    position: relative;
  }
  
  .b span:nth-child(1) {
    transform: translate(-3.3em, -4em);
  }
  
  .b span:nth-child(2) {
    transform: translate(-6em, 1.3em);
  }
  
  .b span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
  }
  
  .b span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
  }
  
  .b span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
  }
  
  .b:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
  }



  
  @media (max-width: 1200px) {
    .whiteBlur{
      position: absolute;
      width: 16rem;
      height: 18rem;
      background: rgba(255, 255, 255, 0.522);
      filter: blur(100px);
      border-radius: 100px ;
    }
  }

  @media (max-width: 1000px) {
    .barBox{
      gap: 1.5rem;
      background: linear-gradient(90deg, #FFA500, #FF7F50, #FF4500);;
      padding: 2rem;
      border-radius: 33px;
      width: 800px;
      height: 16.1rem;
  }
}
@media (max-width: 800px) {
    .barBox{
      gap: 1.5rem;
      background: linear-gradient(90deg, #FFA500, #FF7F50, #FF4500);;
      padding: 2rem;
      border-radius: 33px;
      width: 600px;
      height: 16.1rem;
  }
}
@media (max-width: 600px) {
  .barBox{
    gap: 1.5rem;
    background: linear-gradient(90deg, #FFA500, #FF7F50, #FF4500);;
    padding: 2rem;
    border-radius: 33px;
    width: 450px;
    height: 16.1rem;
}
}
@media (max-width: 450px) {
    .barBox{
      gap: 1.5rem;
      background: linear-gradient(90deg, #FFA500, #FF7F50, #FF4500);;
      padding: 2rem;
      border-radius: 33px;
      width: 410px;
      height: 16.1rem;
  }
  .barnerH{
    font-size: 1.389rem;
  }
  .barner p{
    font-size: 1rem;
  }
}
@media (max-width: 390px) {
    .barBox{
      gap: 1.5rem;
      background: linear-gradient(90deg, #FFA500, #FF7F50, #FF4500);;
      padding: 2rem;
      border-radius: 33px;
      width: 350px;
      height: 16.1rem;
  }
}
